<ul>
    <li><a href="/index.html">GeoMapApp Home</a></li>
    <!--<li><a href="../../gallery/index.html">Image Gallery</a></li>-->
    <li><a href="/WhatsNew.html">Development History</a></li>
    <li><a href="/eNewsletters/">Announcements</a></li>
    <li><a href="/GMA/newHelp/index.html">Help Pages</a></li>
    <li><a href="/tutorials/index.html">Multimedia Tutorials</a></li>
    <li><a href="/education/InTheClassroom.html">Education</a></li>
    <ul>
        <li><a href="/education/TeacherResources.html">Resources For Teachers</a></li>
        <li><a href="/education/WhiteList.html">Lists of External URLs</a></li>
    </ul>
    <li><a href="/AtSea.html">GeoMapApp At Sea</a></li>
</ul>