<h3>GeoMapApp Links</h3>
<ul>
    <li><a href="/">GeoMapApp Home</a></li>
    <li><a href="/data_set_news.html">Recently-Added Data</a></li>
    <li><a href="/FAQ.html">FAQ</a></li>
    <li><a href="/GMA/newHelp/index.html">Help Pages</a></li>
    <li>
        <a href="http://www.youtube.com/user/GeoMapApp">Video Tutorials</a>
        <img src="/assets/imgs/youtube-logo.jpg" onclick="location.href='https://www.youtube.com/user/GeoMapApp';" alt="YouTube GeoMapApp Channel" width="40" height="18" />
    </li>
    <li><a href="https://www.tapatalk.com/groups/geomapapp/">User Forum</a></li>
    <li><a href="/terms_of_use_gma.html">Terms of Use</a></li>
    <li><a href="/FAQ.html#CitingGeoMapApp">Citing GeoMapApp</a></li>
    <li><a href="/education/index.html">Education</a></li>
    <li><a href="/AtSea.html">GeoMapApp At Sea</a></li>
    <li><a href="/WhatsNew.html">Development History</a></li>
    <li><a href="/eNewsletters/index.html">eNewsletters</a></li>
    <li><a href="/statistics.html">Statistics</a></li>
</ul>