<html>
<head>
<title>GeoMapApp</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body>
    <table width="614" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #b3b3b3;">
        <tr>
            <td style="border-top: 1px solid #FFFFFF;"><a href="/" target="_blank"><img src="https://www.geomapapp.org/assets/imgs/GeoMapApp.jpg" alt="GeoMapApp Banner" width="614" height="117" border="0"></a></td>
        </tr>
        <tr>
            <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="424" valign="top" style="padding-top:20px; padding-right:20px;padding-bottom:20px;padding-left:20px;">
                            <table width="150" border="0" align="right" style="padding-right:10px;">
                                <!-- <tr>
                                    <td align="right"><font color="#333333" size="1" face="Arial, Helvetica, sans-serif">Vol.{{page.volume}} No.{{page.number}}</font></td>
                                </tr>-->
                                <tr>
                                    <td align="right"><font color="#333333" size="1" face="Arial, Helvetica, sans-serif">{{page.date}}</font></td>
                                </tr>
                            </table>
                            <font color="#333333" size="2" face="Arial, Helvetica, sans-serif">
                                {{ content }}
                            </font>
                        </td>
                        <td width="190" valign="top" style="padding-top:25px; padding-bottom:10px; padding-left:8px;" align="center">
                            <table width="177" border="0" align="left" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="padding:0px 1px 0px 0px;">
                                        <a href="http://www.facebook.com/pages/GeoMapApp/151118931327" target="_blank">
                                            <img title="Like us on Facebook!" src="https://www.geomapapp.org/assets/imgs/GMA_Like.gif" border="0" style="padding:0px 7px 0px 15px;"/>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                            <br>
                            <table width="177" border="0" align="left" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="padding:0px 1px 0px 0px;">
                                        <tr style= "border-style: dashed; border-width: 1px 0 0 0;">
                                            <center><a href="https://www.marine-geo.org/submit/" target="_blank"><p><font color="#336699" size="3" face="Arial, Helvetica, sans-serif">Contribute Your Data!</font></p></a></center>
                                        </tr>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding:5px;"><table width="100%" border="0"  cellspacing="0">
                <tr>
                    <td height="25" valign="middle" align="right"><font size="1" face="Arial, Helvetica, sans-serif">Copyright &copy; {{ 'now' | date: "%Y" }}</font></td>
                </tr>
            </td>
        </tr>
        <tr>
            <td height="25" bgcolor="#003399"><p>&nbsp;</p></td>
        </tr>
    </table>
    </body>
</html>
